[2017-03-22 14:57] wizzardx opened #3 "Please add more Result methods"
So that eg, we can use these:

eg: Return result if not an error, otherwise raise a fairly generic exception:

x = result.unwrap()

eg: Return result if not an error, otherwise raise an exception with a specific description:

x = result.expect("Unable to initialise subsystem!")

Basically please, a lot more of the methods supported by Rust Results, in terms of methods:

https://doc.rust-lang.org/s

[2017-03-22 21:23] dbrgn commented on #3
Adding `.unwrap` and `.expect` is a good idea. Other methods are less useful in Python, e.g. `unwrap_or(default)` can just be written as `res.ok() or 'default'`.

[2017-03-23 05:36] wizzardx commented on #3
.unwrap_or lets you express a function like this:

[code]

Like this instead:

[code]

Which then lets you use parse_int2() in a few Rust-like ways, with less boilerplate than you would need with parse_int().

eg:

[code]
or eg:

[code]

As well as:

[code]
In addition to the other methods present on in the Result class.

[2017-03-23 08:29] dbrgn commented on #3
That is the same as `i = parse_int2(s).ok() or 123` though, and I'd say that the version with the `or` is easier to read and more pythonic. Don't you think?

[2017-03-23 08:49] wizzardx commented on #3
"None" is also a valid return result for a function, so there's eg, a need to be able to do something similar to this:

Assuming that get_item is a wrapper for dict.__item__, except that it returns a Result value, with Ok(val) if the key was present in the dict, or Err("Key not found") if the item is not found (where Python would normally raise an IndexError exception).

If eg, our dict has a valu

[2017-03-23 09:11] wizzardx commented on #3
Also if ok() returns any other "falsey" value like 0 or False, that would also cause problems.

[2017-07-04 21:28] tyehle commented on #3
This is a problem. In this example

[code]

This should be marked as a bug, not an enhancement.

[2017-07-05 07:30] dbrgn commented on #3
You're all right.

I'm a bit busy now, but if someone would want to do a pull request, I'm happy to review and merge.

[2017-11-30 13:43] dbrgn opened #7 "Type annotations: Order of T and E"
In Rust, the Result type is defined as `Result<T, E>` (success case first). In Haskell, it's `Either ConnError a` and in Elm it's `Result error value` (error case first). On the other hand OCaml and F# also put the success case first.

When #4 was merged, I [did not notice](https://github.com/dbrgn/result/pull/5#issuecomment-331285110) that the type annotation chosen was `Generic[E, T]`. In genera

[2017-11-30 16:16] tyehle commented on #7
I agree. Changing the order seems like the right thing to do. When I wrote that I wasn't aware the order was different in Rust than Haskell.

[2018-06-19 08:31] snorfalorpagus commented on #7
Does this have any implication for existing code that has been written one way or another? I had assumed the order was `[T, E]` and mypy has never complained.

[2018-06-19 08:41] dbrgn commented on #7
It only matters if you actually do something with the success or error case that does not comply with the type.

If your result type is `Result<str, List[int]>` and you call `len(...)` on the value then that will work with both the success and the error case without mypy complaining.

[2019-01-25 08:52] #3 closed

[2019-04-16 17:23] s-knibbs opened #12 "Typing should not be required in python 3.7 / 3.6"
I'm currently experiencing issues when installing this in python 3.7 because the `typing` dependency is conflicting with the standard library typing, see python/typing#573.

Looks like the requirement just needs changing to `typing; python_version < '3.5'`

[2019-04-16 20:07] dbrgn commented on #12
Interesting, since we run tests on Python 3.7 in CI: https://travis-ci.org/dbrgn/result

[2019-04-16 20:11] dbrgn commented on #12
I tried adding `python setup.py install` to CI in #13, seems to have worked. But I guess excluding the dependency on Python 3.6+ shouldn't hurt!

[2019-04-17 07:06] #12 closed

[2019-10-05 11:19] Emerentius opened #17 "Change design for improved type safety"
I'm proposing that the `Result` class should be split into two classes `class Ok(Generic[T])` and `class Err(Generic[E])` and that `Result` be only a type alias for `Union[Ok[T], Err[T]]`

This has the advantage that you can use `isinstance` as a replacement for matching and gain improved type checkability.

For example, take this code
[code]

There is an unnecessary ambiguity in the type of `valu

[2019-10-05 12:12] dbrgn commented on #17
That sounds interesting :slightly_smiling_face:

[2020-02-17 02:23] francium opened #22 "Good time for 0.4.1 release?"
Getting a `mypy` error when I try to use tihs at the `0.4.0` release.
[code]

I believe the `py.typed` file added in #16 solves this issue. I didn't have any issue when I installed github master version as opposed to the pipy `0.4.0` release.

Maybe we can bump to `0.5.0` if we can merge #19 and get the new methods in.

[2020-02-17 08:00] dbrgn commented on #22
Good point, I'll release `0.4.1`.

[2020-02-17 08:03] dbrgn commented on #22
Version 0.4.1. is released on PyPI.

[2020-02-17 08:03] #22 closed

[2020-02-23 14:14] #7 closed

[2020-02-23 14:15] dbrgn commented on #7
#8 is merged, testing the version on master is welcome.

[2020-02-23 18:00] dbrgn opened #25 "Release 0.5.0"
I would suggest to release version 0.5.0 (including #8 and #11) soon and to defer #17/#18 for a future version.

Do you agree, @francium?

[2020-02-23 18:07] francium commented on #25
Yes

[2020-03-01 22:47] francium commented on #25
Do you want to wait some more for #11's author to respond or should get it finished ourselves?

[2020-03-02 09:52] dbrgn commented on #25
@francium if you feel like it, you can take over that PR!

I think it should be even possible to resolve the conflict directly on GitHub:

![2020-03-02-105137_684x227_scrot](https://user-images.githubusercontent.com/105168/75665043-cedff680-5c73-11ea-85a0-eb265dc2aede.png)

[2020-03-03 14:43] dbrgn commented on #25
Version 0.5.0 is now published.

I also noticed that the `py.typed` file was not included in the dist previously. I fixed that using a [`MANIFEST.in`](https://github.com/dbrgn/result/blob/master/MANIFEST.in) file.

[2020-03-03 14:43] #25 closed

[2020-03-05 10:55] Jasonoro commented on #17
@Emerentius @dbrgn Are you both still interested in continuing with #18? That MR is extremely useful to us and if need be I can put in some work to get that MR up-to-date.

[2020-03-05 11:03] dbrgn commented on #17
I'm definitely interested, I'm just a bit tight on free time to review. Getting the PR up to date and doing a review (ideally with a migration / upgrade guide for affected users) would *definitely* help.

If it looks good, it could become the 0.6 release.

CC @francium

[2020-03-05 12:40] Jasonoro commented on #17
Alright, I updated everything [here](https://github.com/Jasonoro/result/tree/split_result_type). The good news is that all tests (That are still relevant) pass. The bad news is as follows:

[code]
This apparently is [a bug in MyPy](https://github.com/python/mypy/issues/230). However seeing as the issue is from 2013, this won't be fixed soon.

There [are workarounds](https://github.com/python/mypy/

[2020-03-06 09:29] Jasonoro commented on #17
Okay I figured out the problem. The typetest was still using `if res1.is_ok()` instead of the new way of using `if isinstance(res1, Ok)`. With the new way the error doesn't happen so that's great! I'll probably make a migration guide soon and submit a PR.

[2020-03-06 12:24] dbrgn commented on #17
@Jasonoro that's great!

[2020-04-15 22:25] #17 closed

[2020-04-15 23:29] das-g opened #29 "Design discussion: when to prefer Result over exceptions (and vice versa)"
(Without intending any offense:) The code example in the README without `result` is kinda braindead:

While a lot of Python code looks like this, this isn't how one _should_ write Python code. More pythonic would probably be to raise Errors already in the `get_user_by_email` function and handle them in the calling code:

[code]

So, it'd be good if the README could advise:

When should one prefer

[2020-04-16 00:03] francium commented on #29
Thanks for pointing out that the docs don't do a good job explaining things well. Good to know so we can improve them moving forward.

Based on what I understand, pythonic approach is obviously,

EAFP,

But the argument can be made that when you're not catching an error, you're leaving someone else to take care of it. It's implicitly transferring control to someone up the call stack who may not, o

[2020-04-16 00:11] das-g commented on #29
So TL;DR:

`result` is beneficial (compared to raising Errors) because it makes explicit whether the responsibility of error handling is passed on (by passing around or returning the wrapped value) or not (by unpacking it). `try ... except` can easily be forgotten to be used at the appropriate place if an error is rare enough.

Did I get that right? (If so, that does indeed make sense. Though it p

[2020-04-16 00:18] francium commented on #29
Yes. Functions only ever return values, never throw.

Type checking will obviously help catch small mistakes that can and should be caught easily, but by no means is it a hard requirement. You can perform the manual checks yourself at runtime given you know what each function call returns and what the possible error type(s) is(are).

[2020-04-16 09:44] dbrgn commented on #29
From my point of view: Returning a result forces you to handle (or ignore) errors. Raising an exception is very easy to miss. But of course they're both valid approaches to error handling.

The second aspect is that results put the error object in the type signature, while exceptions don't show up. This is of course only relevant when using mypy. And to be honest, I think `result` mostly makes sen

[2020-08-07 19:02] francium commented on #29
@dbrgn What do we want to do about this issue? Update reactme? I can open a PR with a rough draft and we can go from there.

[2020-08-08 19:57] dbrgn commented on #29
@francium a PR with a draft would be welcome :slightly_smiling_face:

[2020-09-01 13:27] noah04 opened #33 "Add decorator to make plain functions return a Result"
## Idea

While using the library, I came up with the idea to implement a simple decorator that wraps any plain function into `try-except` and returns an `Err` if an exception occurred. This makes it very easy to wrap existing "unsafe" functions and thus prevent runtime errors.

Example:
[code]

## Existing implementation

Just to give you an idea, here is my naive first implementation (shortened):

[2020-09-05 00:16] francium commented on #33
I was looking at some Lua stuff and found something quite relevant,
https://riptutorial.com/lua/example/16000/using-pcall

In that case, it's not a decorator, not sure if Lua has decorators. But the idea is somewhat similar, wrap a exception throwing function in a protected 'call-scope' and read out the sucess/failure + exception/value.

[2020-09-05 00:22] francium commented on #33
@dbrgn I think it's a interesting idea. Not sure how you feel about the scope of this library and if this falls within it.

[2020-09-05 11:02] dbrgn commented on #33
Yeah, it does sound interesting :slightly_smiling_face: I don't currently have the capacity to review and maintain this feature though, so @francium if you're interested just go ahead!

[2020-09-05 20:59] noah04 commented on #33
@francium I also have no experience with Lua but had a quick look. In my opinion, `pcall` is exactly what I tried to mimic but without the decorator.

This would still leave the problem with the typing of `args` and `kwargs` (which I still found no good solution for). But it would make the usage non-api-breaking. In fact, you could use the `pcall` wherever you need, without touching old code.

But

[2020-09-06 18:46] francium commented on #33
I was having a quick play around with your sample code. You're correct about the generic args/kwargs typing, ran into same type checking issues without any obvious solution, except for reducing the typing here (1). But even then, I noticed some typing issues in the call site of the wrapped function (2)

(1)
[code]

You also had some issues with how you passed through the `args` and `kwargs` to the

[2020-09-06 19:35] dbrgn commented on #33
Yeah, let's keep this open. If a few people express interest, we can still consider shipping an implementation.

[2020-09-06 19:43] noah04 commented on #33
@francium great analysis, thanks for your time! :+1: And the edit you added is correct: This would solve the problem. I was stuck at the same point as you and added the generic dispatch to "solve" it.

I also had a deeper look and notices another "Con": The lack of typing for `args` and `kwargs` also causes decorated functions not to be linted correctly. Since we use `Any`, a caller gets no warnin

[2020-09-09 03:59] francium opened #34 "Bump min python version - Python 3.5 end of support"
[End of support for Python 3.5 is 2020-09-13](https://www.python.org/downloads/).

[2021-03-17 19:15] ankitpatel96 opened #36 "Full release of 0.6.0"
Hi, I was wondering when you planned on cutting a full version of 0.6.x.  Pip install makes you pass in --pre for pre release versions like this - was hoping to avoid that .

[2021-03-17 20:05] dbrgn commented on #36
Sure, I'll tag a release!

[2021-03-17 20:10] dbrgn commented on #36
Published!

[2021-03-17 20:10] #36 closed

[2021-03-25 04:58] akdor1154 opened #37 "Type-safe way to force caller to check Ok/Err Result values"
Hi,
In the static languages that inspire this package, the default way of accessing values is only allowed once you've checked a Result is Ok:
[code]

However, in this package, because Ok and Err both share .value, this is by default allowed, and the user is not forced to check that a result is ok.

[code]

Could you consider "blessing" an accessor for value that only exists on Ok, to allow this u

[2021-03-28 17:04] francium commented on #37
Are you here suggesting library should throw a Python `TypeError`? Or are you merely hinting that `actuallyAnErr` is an `Err` type?

Either way, so the suggestion is
[code]

Would definitely impact anyone relying on current `.value` behavior.

[2021-03-28 20:18] #34 closed

[2021-03-30 00:25] akdor1154 commented on #37
Library should throw a type error or attribute error, more importantly the definition should be written in a way that mypy flags this as an error.

As an alternative to breaking everybody's `.value` usage, you could create accessor properties e.g. `.ok_value`, `.err_value` that people could opt into using.  `.value` could potentially be deprecated at a later date.

[2021-03-31 01:14] francium commented on #37
Actually perhaps what you're after is already implemented,
[code]

[2021-03-31 01:19] akdor1154 commented on #37
Very nearly - it's implemented in terms of throwing an error, but it's not implemented in a way that mypy can prevent you doing that in the first place. Maybe to step back a bit, what I want is that

[code]

[code]

where `.value` can be replaced by any method of accessing the contents, .unwrap, .val, etc.

This is how results works in Rust, F#, etc - they use the type checker to force you to chec

[2021-03-31 01:22] francium commented on #37
+1

sounds like a general type checking improvement then. I have no idea how to do that with mypy off the top of my head, I'd have to dive into the docs and experiment. But if you know mypy better, please feel free to throw up a PR

[2021-03-31 01:28] akdor1154 commented on #37
It actually does, but we don't get to benefit from it here because `.value` exists on both Ok and Err so mypy allows it to be called on `Union[Ok, Err]`.

So if we used (bikeshedding names) `.ok_value` and `.err_value` on Ok and Err, respectively, mypy would disallow `res.ok_value` if you hadn't already checked that `isinstance(res, Ok)`.

[2021-04-07 17:55] sobolevn opened #41 "Consider using pytest-mypy-plugins for type tests"
I have notied that you have this file: https://github.com/dbrgn/result/blob/master/result/typetests.py

It might be a good idea to switch to https://github.com/typeddjango/pytest-mypy-plugins if you need more features like:
- Testing errors
- Testing different `mypy` setups

That's how we test our `Result`: https://github.com/dry-python/returns/tree/master/typesafety/test_result

[2021-04-10 04:05] francium commented on #41
@sobolevn Hey, I had a quick look at this stuff. I'd prefix this by saying I don't do much Python day to day, only as a 'hobby' from time to time ;)

~~After going it, I'm a bit unsure of the benefits as opposed to just the current setup which runs mypy over the python file we've got (typetest.py). It's a bit ad-hoc for sure and we've have to separately include it in the CI testing setup as oppose

[2021-04-10 10:27] sobolevn commented on #41
😬

[2021-04-10 16:58] #41 closed

[2021-07-02 13:30] xkortex opened #43 "Add Option type?"
Would an Option (Maybe) type (just like Rust) be in scope for a PR for this repo? It's practically the same interface. I know there's `Optional` but you can't map over it :(. I know about [https://github.com/dbrattli/OSlash](OSlash) and [returns](https://github.com/dry-python/returns) but I really like the lightweight interface of this library.

[2021-07-02 13:38] francium commented on #43
Have you considered https://github.com/dry-python/returns#maybe-container
I haven't used it myself, but came across it recently, perhaps it may suit you?

Otherwise, not sure if it makes sense to expand this libraries scope, primarily since the name of it is 'result' or make a separate library instead or some other alternative.

[2021-07-02 14:37] dbrgn commented on #43
Yeah, I agree about the scope, I'd stick to results.

[2021-07-02 14:37] #43 closed

[2021-07-02 14:40] francium commented on #43
@xkortex Feel free to fork if you feel this existing codebase would be a good starting point. Let me know if you need a hand.

[2021-07-02 14:43] dbrgn commented on #43
(Also, @francium, if you'd be interested in expanding the scope, I'd be willing to hand over publish access to you. I simply don't have the time to increase the maintenance effort. However, the "result" package name is not ideal if the scope would be expanded, I think having separate pypi packages would be better, even if the two codebases would be in the same repo.)

[2021-07-02 14:50] francium commented on #43
@dbrgn sure, let's see how this goes and if there's more interest. This library appears to be slowly gaining more stars if that's any indication of it's usage. Perhaps opening a new organization for this may make sense if it comes to that.

Yes, I'd agree with not expanding the scope of this library at this time.

[2021-07-02 19:33] xkortex commented on #43
Yeah, I wouldn't be opposed forking to an Options library, though I think some sort of **PyRustFunctor** would make more sense to leverage overlap. I think there's definitely growing demand as functional python picks up traction.

@francium would you be interested in such a thing? Gotta check with mgmt but I think they'd be cool with it, I could get the ball rolling and could certainly use a hand

[2021-07-02 19:41] francium commented on #43
@xkortex yes, sure, I can help out however I'm able.

[2021-07-06 15:48] felixhammerl commented on #37
I've taken the discussions here, because I've had the same annoyance with type checkers complaining about `Ok` being of type `str | None` instead of `str`, and created a fork that is breaking compatibility with the upstream repo in many ways.

https://github.com/felixhammerl/resultify

Since Python does not have the pattern matching capability of Rust, Python's intepretation of `Optional` is *not*

[2021-07-06 15:52] felixhammerl opened #44 "Resultify decorator"
Hi folks,

first of all, thanks for this implementation! In my fork of your repo (has a couple of things that would break compatibility in your repo, hence didn't put up a PR and released separately) is one helpful utility that can be simply dropped into your repo.

https://github.com/felixhammerl/resultify/blob/master/resultify/__init__.py#L102-L115

It's a decorator wraps ordinary functions and

[2021-07-07 03:09] francium commented on #44
Hey Felix,
I feel like I've seen something like this somewhere (pretty sure it's this https://github.com/dry-python/returns#maybe-container).
Thanks for bringing it up, I'll have a closer look when I get more time.

[2021-07-29 06:57] WasabiFan opened #45 "Existing linters, type-checker configuration or other tooling to identify unused Results?"
I'm rather fond of the promise of this library in my type-annotated codebase. I already type-check it with Pyright. However, it seems easy to accidentally miss a returned `Result` if the method otherwise returns `None`. i.e., if I care about the value in case of success, I'll surely get a type error in the case that I fail to check for error variants; if I don't, then I might not be warned about t

[2021-07-29 21:28] francium commented on #45
Good questions. I don't have any good answers for you (unfortunately I don't use Python day-to-day). But we can leave this open to see if anyone else has any good ideas.

The only comparison I can think of to what I believe you're experiencing is with TypeScript. Which provides strict null checks and non-strict null checks -- ie `null | undefined | T` values can be freely mixed. So you can have a

[2021-07-30 00:13] WasabiFan commented on #45
Thanks for the response.

The particular case I'm worried about is:

[code]

In the above, `go_do_something_which_might_error` might have returned an error; we don't know. The programmer forgot to check. Since the programmer doesn't expect a returned value from that function anyway, they might never notice they forgot to use the returned value.

In Rust, `Result`s are marked with `#[must_use]`, wh

[2021-07-30 00:24] francium commented on #45
Relevant mypy issue (funny enough it reference right back to this very library :) )
https://github.com/python/mypy/issues/6936

From TypeScript experience, I know this is definitely possible with typecheckers/linters...whether the Python ecosystem has something in place, I don't know.

[2021-07-30 00:27] francium commented on #45
Wait, found something promising,

https://github.com/python/mypy/issues/8951#issuecomment-740748599

from https://github.com/microsoft/pyright/blob/main/docs/configuration.md

[2021-07-30 00:55] WasabiFan commented on #45
That's exactly what I was looking for; evidently, my Ctrl+F attempt was very poorly executed! I saw the mypy thread but missed the reference to Pyright, and I guess didn't use the right terms in their actual docs. It works great.

Thank you!

[2021-07-30 00:55] #45 closed

[2021-07-30 00:56] francium commented on #45
We'd welcome your feedback and experience if you end up playing around with that. Let us know so we can possibly update the README here for overall better user experience with this library.

[2021-10-05 07:11] tbehner opened #47 "Add __match_args__ to enable Python 3.10 pattern matching on results"
Currently
`
o = Ok('yay')
match o:
    case Ok(f):
        print(f)
    case Err(e):
       print(f"Err: {e}")
`
results in an error `TypeError: Ok() accepts 0 positional sub-patterns (1 given)`. For this to work `__match_args__` have to be specified.

[2021-10-05 12:11] francium commented on #47
@tbehner Thanks for this. I haven't played around with pattern matching stuff yet. But looks like a nice addition. I'll have a look at pattern matching and your PR as soon as I'm able to dedicate some time.

[2021-10-15 16:15] francium opened #49 "Drop Python 3.6 support after 2021-12-23"
Need to drop support at that time. Probably should push a release out before then if necessary.

[PEP 494 -- Python 3.6 Release Schedule](https://www.python.org/dev/peps/pep-0494/)

[2021-10-15 16:16] francium opened #50 "Add Python 3.10 Support"

[2021-10-15 19:25] #50 closed, assigned to francium

[2021-10-16 14:16] francium commented on #47
Fixed in https://github.com/dbrgn/result/pull/48

[2021-10-16 14:19] francium commented on #47
@tbehner Forgot to do one thing :(
Would you mind pushing up a new PR to add a new changelog entry (`CHANGELOG.md`)? I would do it myself, but I don't have permissions to merge to develop directly. So a PR by you would be great, because then I can approve it and get it in.
[code]

[2021-10-25 20:26] wbolster opened #55 "use slots"
please consider using `__slots__` to save `dict` creation for each instance. there's only a single field (`.value`) after all.

both `Ok` and `Err` would need this line:

[code]

if you agree, i can open a pull request.

[2021-10-25 20:49] francium opened #56 "0.7 release"
@dbrgn Can we discuss the release. I sent you an email but I didn't hear back. Trying again here. Please reach out to me via email or here regarding releases.

[2021-10-27 20:02] wbolster opened #61 "consider adding dunder-bool"
would you consider adding a `__bool__` magic method? see https://docs.python.org/3/reference/datamodel.html#object.__bool__

it would mean that `if result` and `if not result` would do the obvious thing.

note that type checkers like mypy will not infer types based on the result. unfortunately, it seems the newly added `typing.TypeGuard` functionality only applies to regular functions, not to meth

[2021-10-28 01:10] #55 closed, assigned to nobody

[2021-10-30 19:31] wbolster opened #69 "PEP647 typing.TypeGuard based is_ok() and is_err() helpers"
PEP 647 (https://www.python.org/dev/peps/pep-0647/) makes it possible to write custom type guard functions.

this makes it possible to write shorthand `is_ok(...)` and `is_err(...)` functions that effectively work as shorthands for the longer `isinstance(..., ...)` forms, resulting in denser and more readable code, while still keeping all the benefits of strict type checking:

[code]

not all supp

[2021-10-31 16:59] wbolster opened #70 "use PEP 563 style annotations"
we should probably start using PEP563 (https://www.python.org/dev/peps/pep-0563/)

[code]

... which means stringified type annotations are no longer needed.

this [requires python 3.7+](https://www.python.org/dev/peps/pep-0563/#enabling-the-future-behavior-in-python-3-7) though, so this would depend on

- [x] #49

[2021-10-31 18:53] wbolster commented on #33
i've built a fully type-safe implementation using `typing.ParamSpec` to preserve type signatures. that means it depends on Python3.10+ and currently lacks Mypy support.

see #71 for details.

[2021-11-01 04:19] francium commented on #70
Yeah, let's wait for 3.6 to end of life and we can look at this.

[2021-11-01 04:21] francium commented on #69
I can only speak briefly about this as I do more TypeScript work than Python (very little Python actually). In TS it's very common to use typeguards and providing a more descriptive and terser `is_x` style DSL function I think would be nice to have.

[2021-11-01 04:23] francium commented on #61
Hmm, not sure if I'd understand what someone was intending if I read `if result`. I think your #69 `is_ok`, `is_err` provider a much nicer approach no?

[2021-11-01 09:40] wbolster commented on #33
@noah04 out of curiosity, do you remember why you used `functools.singledispatch()` in your example code?

[2021-11-01 10:11] wbolster commented on #69
ok, we agree 👍🏼

i'll open a pr later, including a conditional `typing_extensions` dependency for older python versions.

(unlike #33 / #71 this seems to be well-supported by mypy)

[2021-11-01 17:00] wbolster commented on #69
first investigation shows that mypy may have some issues in this area; i've reported https://github.com/python/mypy/issues/11428 about that.

[2021-11-01 18:25] wbolster commented on #61
yep, it seems this can never be made to work in a type-safe manner.

`typing.TypeGuard` does allow methods to be used as type guards, but only if they take one arg _after_ the implicit `self`:

and on top of that `def __bool__(self)` would be a ‘magic’ method that is not called directly.

while i think code like this reads elegantly:

[code]

... type checkers would disagree, and that makes it not

[2021-11-01 18:25] #61 closed

[2021-11-01 18:30] francium commented on #61
Does the walrus operator make sense (`:=`)? I've never used it but I came across this Rust syntax,
[code]

[2021-11-01 19:01] wbolster commented on #37
ok, let's try to get this one into motion 🙃

rust and its `std::Result` type (https://doc.rust-lang.org/std/result/) have two crucial properties:

- special syntax to propagate `Err` results to the caller: `?` (question mark)
- `#[must_use]` to force callers to actually check the value.

neither are available in python, so this cannot be translated directly.

but having a type-safe way to use `Res

[2021-11-01 19:06] wbolster commented on #61
it would become

[code]

this would shave off one line of code, and a unnecessary repetition of the variable name, but it suffers from the same problem: type checkers will _not_ be able to narrow type inside the `if` block to only `Ok`, which brings us back to the problem described in [my previous comment](https://github.com/rustedpy/result/issues/61#issuecomment-956479406)

[2021-11-01 21:53] wbolster opened #74 "Implement missing .unwrap_or_else() method"
it seems the `unwrap_or_else()` method is missing

rust docs: https://doc.rust-lang.org/std/result/enum.Result.html#method.unwrap_or_else

[2021-11-01 22:01] dbrgn commented on #69
If only older Python versions need it, I don't think adding a dependency is a problem. By upgrading your Python, you can get rid of the dependency.

We did the same thing with `typing` when we still supported Python versions that didn't have this built-in yet.

From my experience with TS, type guards are pretty nice to have.

[2021-11-01 23:16] noah04 commented on #33
@wbolster if I remember correctly, I did that to enable generic calls with `args` and/or `kwargs` using the same decorator. But don‘t rely on that piece of code - I‘m not that into Python generics/typing.

Mentioning that, I would really like you for investing time on this topic 👍🏼

[2021-11-02 07:14] wbolster commented on #33
i suggest you look at #71 🙃 which seems promising

[2021-11-15 05:15] francium commented on #56
0.7.0rc1 published.
0.7.0 should be published soon if everything looks good.

[2021-11-19 05:43] francium commented on #56
0.7.0 published.

[2021-11-19 05:45] francium commented on #56
Closed in #76

[2021-11-19 05:45] #56 closed

[2021-12-15 11:09] #49 closed

[2021-12-21 17:27] #70 closed

[2021-12-24 18:22] #33 closed

[2021-12-24 18:23] wbolster commented on #33
good news everybody, `as_result()` is now merged #71

see the readme for example usage!

[2022-01-30 04:15] rvente opened #85 "Discussion: Forming a Chat Community"
Hey maintainers, thank you for your great work on this project. This library has brought me great joy and it feels like the missing pieces of python are being filled in.

Are there ongoing thoughts about forming a "rustedpy" community? The repo seems to be growing and a community chat could be an opportunity for growth and cross-pollination of ideas. Expanding into online communities would allow u

[2022-01-30 09:58] wbolster commented on #85
i have experimentally opened the github "discussions" feature for this repository.

(personally i am not interested in using yet another chat/communication medium for a small project like this)

[2022-01-30 18:35] rvente commented on #85
Thank you very much. That's perfect. My point has been addressed. Closing.

[2022-01-30 18:35] #85 closed

[2022-02-27 21:44] ukaiser opened #89 "Add and_then method"
Please consider adding the and_then method to the Result type.

I played around with the library a bit today. The first time I used map with a function, which in turn returns a result, I had a nested result as return value. The method and_then doesn't nest the result types but instead returns the result type of the callable. This make it easier to chain multible failable function calls and get the

[2022-03-01 03:57] francium commented on #89
I'll take a look at getting #32 updated if needed as it's an old PR at this point and merged as soon as I'm able. Thanks for bringing this up.

[2022-03-02 05:01] francium commented on #89
@ukaiser Hey, I've thrown up a proof of concept, hopefully I didn't make make a mistake somewhere, but I'll review the PR myself and get it merged tomorrow.

For now, if you'd like to try it out, you can do so using,
`pip install git+https://github.com/rustedpy/result@feat/and_then`.

Feel free to provide suggestions on the PR if you'd like to.

[2022-03-03 12:54] ukaiser commented on #89
Hey, thanks for immediately addressing the issue!
I tried it with my test code and it seems fine.

[2022-03-07 05:12] francium opened #91 "Release 0.8.0"
I think it may make sense to release 0.8.0 after #89 is completed.
I've just uploaded 0.8.0b1 to pypi and github releases.

[2022-04-17 15:54] #89 closed

[2022-04-17 16:11] francium commented on #91
Forgot to tag the commit, done in 82a434485131b2137b04f9f19903bcce7b614342

[2022-04-17 16:11] #91 closed

[2022-05-27 10:46] ileixe opened #93 "Provide a way to chain Err to Exception"
Hi,

Thanks for a cool library. I've tried to find a solid way to manage error cases in Python like Rust and found this elegant library.

We're migrating some of our APIs using result and miss a feature to cover some common patterns we've found. As our library clients may not want to change their code base to be aware of `result.Ok` or `result.Err` (I hope so in the future though), we've decided t

[2022-05-27 11:06] wbolster commented on #93
something like `.unwrap_or_raise()` maybe? it's definitely in the ‘unwrap’ family.

but raising plain exceptions without any info (e.g. no message) are typically not nice APIs for consumers, so we should do better than that.

i think this would need variants to a) simply raise an exception without even looking at the Err value, and b) a way to convert the Err value into a custom exception instance

[2022-05-27 11:15] ileixe commented on #93
Yes, "unwrap" family seems to be a right one.

I agree plain Exceptions may have low value (and we actually have added more information into the Exception although I skipped in the code above), and `option b` is the actual one that we are looking for.

[2022-05-31 02:38] ileixe opened #94 "Test failure due to mypy update"
[code]

Latest mypy seems to remove asterisk syntax: https://github.com/python/mypy/pull/12459. Currently tests are failed with mypy >= 9.40

[2022-06-07 01:25] ileixe commented on #93
Rather than API itself, #95 has a issue which mypy could not detect signature due to the same issue (https://github.com/python/mypy/issues/230).

Any suggestions to provide better API?

[2022-06-09 14:59] jack-michaud commented on #69
It seems like mypy generic typeguards are fixed, but there's still no negation.

[code]

[code]

Doing something like this would work:

[code]

[code]

...but ideally we wouldn't need to do this.

Related discussion for typeguard negations: https://github.com/python/typing/discussions/1013

[2022-06-11 01:18] francium commented on #93
Hi guys, sorry been busy so haven't been involved.

@ileixe have you look at https://github.com/rustedpy/result/issues/17, this was mentioned before and seems to be linked already to https://github.com/python/mypy/issues/230

[2022-06-11 01:21] francium commented on #94
Being honest, I never really understood the `*` syntax, `result.result.Ok[builtins.int*]`, in those tests.

Can we just remove all the `*` usages in that file if they've removed it from mypy? Could you try updating the all relevant dependencies so we're using mypy without `*` support and see if that improves the situation?

[2022-06-11 01:28] francium commented on #93
@wbolster

Could you elaborate on what you don't like about the suggested API?

[2022-06-12 03:51] ileixe commented on #94
As I read the mypy doc, `*` means internal implementation specific difference (and that's why they unified the syntax removing the internal detail), so I think it's safe to delete all of the old syntax. I will try when I need to add new tests.

[2022-06-12 03:55] ileixe commented on #93
Are you mentioning the workaround in the #17? If then, yes I tried it and saw it worked: Using cast() or make lambda function having type definition, but it looks ugly enough to wipe out type safe benefit.

[2022-06-13 11:00] wbolster commented on #93
💡 just brainstorming…

i don't quite like how this proposed api makes it almost inevitable to use a lambda construct for something that's supposed to do something simple. (fwiw, i don't like lambdas in general, in python at least.)

maybe this could handle `Type[BaseException]` in a special way? so that it can be either a callable (such as a lambda) or an exception class directly?

[code]

however

[2022-06-17 10:14] wbolster commented on #93
the basic exception constructor signature (which most built-in exceptions inherit) allows any number of arguments, which are later accessible via the `.args` attribute:

[code]

https://github.com/python/typeshed/blob/master/stdlib/builtins.pyi#L1771

most uses actually use only 1 argument, so perhaps `.unwrap_or_raise(ValueError)` is good enough after all?

[2022-06-17 17:59] ileixe commented on #93
@wbolster  yes, i think so.

[2022-06-24 14:22] #94 closed

[2022-07-22 11:15] oleks-popovych opened #97 "Thank you"
No issue, just plain simple thank you for your work!

[2022-07-22 11:44] wbolster commented on #97
🫂

[2022-08-30 08:59] noxasaxon opened #98 "any appetite for `.unwrap()` that prints the err value?"
Occasionally I have critical errors that cannot be remediated so i'd like to .unwrap(), but I have already captured valuable information in the Result's Error type that get ignored in the UnwrapError.

 Rather than checking for an error, then raising a new error with the captured message I created a `.unwrap_print()` function (not a great name) to relay this information:

[code]

[code]

Is this s

[2022-09-02 01:39] noxasaxon commented on #98
it looks like the same behavior happens with `.expect("msg")` as well

[2022-09-03 20:39] francium commented on #98
Hi @noxasaxon

I just tried it out with Rust and it always includes the value in the panic that's triggered.

For example,
[code]

Output 1
[code]

Output 2
[code]

---

So based on this, how about we modify the exception we raise on `expect` and `unwrap` to include the inner value of the Err? Similarly for `expect_err` and `unwrap_err`?

[2022-09-03 20:52] wbolster commented on #98
i agree with @francium. adding more unnecessary api just adds confusion.

if the `Err` value is an exception instance (`BaseException` really), the raised error could even set that as its _cause_, essentially becoming `raise UnwrapError(...) from exc`. this means the python interpreter will even prints its backtrace if it bubbles up uncaught!

[2022-09-03 21:08] francium commented on #98
@noxasaxon if you're happy with our suggestions, we can make this change. You're welcome to make a PR if you'd like to contribute.

[2022-09-03 21:15] noxasaxon commented on #98
yeah i can make a PR later today!

[2022-09-06 19:17] noxasaxon commented on #37
In my opinion, the reason many people love rust is because the compiler forces you to do the right thing. The closest thing Python has to that experience is via typing analysis. If the intention of this library (and the `rustedpy` org) is to bring the joys of coding in rust to the Python ecosystem, I think our target audience is probably also people using `mypy`/`pyright` or some other sort of typ

[2022-09-12 01:28] francium commented on #37
Okay, so the proposal in #99 is,
- Deprecate `value`, deprecation warning for 1 or more releases, then raise exception on usage, then total removal
- Add `value` and `err_value` properties that exist only on `Ok` and `Err` respectively

Any objections to this? Any better ideas?

[2022-09-12 05:59] akdor1154 commented on #37
Ending up with `value` and `err_value` sounds great, deprecating `Err.value` in the interim makes sense. (deprecating `Ok.value` doesn't make sense of course :)). You'd still need a major version bump when you finally remove `Err.value` as well if you follow semver.

[2022-09-16 14:20] wbolster commented on #37
nope, it wouldn't even exist. python will raise `AttributeError` at runtime, but type checkers will just complain that `.value` doesn't exist

[2022-09-16 16:40] #97 closed

[2022-09-19 02:22] #93 closed

[2022-10-13 04:11] dogweather commented on #37
It's now possible to force people to check errors using Python 3.10 and Pyright. This combination enables [true exhaustiveness checking](https://dogweather.dev/2022/10/03/i-discovered-that-python-now-can-do-true-match-exhaustiveness-checking/).

Here's a very simple Result implementation that does force the user to always handle the error case:

* Making the `value` private: https://github.com/dog

[2022-11-12 16:22] qexat commented on #69
Any updates?

[2022-11-26 00:21] falan opened #108 "Is it possible to add do notation?"
Like this one:
https://returns.readthedocs.io/en/latest/pages/do-notation.html
It is pretty helpful for this kind of function when dealing with multiple "result type" passing to another function. Is it possible to include this?